<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 定义一个id为user的bean对象 -->
    <bean id="user" class="com.spring.ioc.demo.bean.User" init-method="initUser" destroy-method="destroyUser">
        <property name="age" value="26"></property>
        <property name="userName" value="eric.he"></property>
    </bean>
</beans>